<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @note.request_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @note.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
