<div class="small-12 columns">
	<p id="notice"><%= notice %></p>

	<!-- <p>
	  <strong>Request:</strong>
	  <%= @note.request_id %>
	</p>
	 -->

	 

		<p>
		  <%if @note.image.exists?%>
      			<%= image_tag @note.image.url(:large) %></br>
      		<%end%>
		  
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @note.description %>
		</p>

		<%= link_to 'Edit', edit_note_path(@note), class: "button" %>
        <td><%= link_to 'Delete', :note, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>		
        <%= link_to 'Back to Request', request_path(@note.request_id), class: "button" %>
 </div>
