<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Customer</th>
      <th>User</th>
      <th>Company name</th>
      <th>Request</th>
      <th>Customer</th>
      <th>Contact firstname</th>
      <th>Contact lastname</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Date</th>
      <th>Note</th>
      <th>Request</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Walkthrough</th>
      <th>Request</th>
      <th>Square footage</th>
      <th>Num floors</th>
      <th>Max occupancy</th>
      <th>Other businesses</th>
      <th>Other businesses type</th>
      <th>Ownership</th>
      <th>Waste disposal contract</th>
      <th>Waste management cost</th>
      <th>Loading dock</th>
      <th>Freight elevators</th>
      <th>Storage space</th>
      <th>Storage space details</th>
      <th>Trash hauler</th>
      <th>Trash hauler contract</th>
      <th>Contract available</th>
      <th>Annual record</th>
      <th>Waste storage</th>
      <th>Waste containers</th>
      <th>Buy recycled</th>
      <th>Buy recycled details</th>
      <th>Green cleaning products</th>
      <th>Green cleaning details</th>
      <th>Mandated recycling</th>
      <th>Recycling program</th>
      <th>Recycling details</th>
      <th>Recycling stream</th>
      <th>Recycling stream details</th>
      <th>Discontinued recycling</th>
      <th>Current compost</th>
      <th>Past compost</th>
      <th>Generate toner ink</th>
      <th>Recycle toner ink</th>
      <th>Generate cfls</th>
      <th>Recycle cfls</th>
      <th>Generate batteries</th>
      <th>Recycle batteries</th>
      <th>Generate computers</th>
      <th>Recycle computers</th>
      <th>Generate cellphones</th>
      <th>Recycle cellphones</th>
      <th>Generate tvs</th>
      <th>Recycle tvs</th>
      <th>Generate other corded equipment</th>
      <th>Recycle cellphones</th>
      <th>Generate furniture</th>
      <th>Recycle furniture</th>
      <th>Generate linens uniforms</th>
      <th>Recycle linens uniforms</th>
      <th>Generate construction debris</th>
      <th>Recycle construction debris</th>
      <th>Generate pallets</th>
      <th>Recycle pallets</th>
      <th>Zw policy</th>
      <th>Leed</th>
      <th>Recertify leed</th>
      <th>Requesting audit services</th>
      <th>Audit</th>
      <th>Request</th>
      <th>Date</th>
      <th>Origin</th>
      <th>Time period</th>
      <th>Dumpster type</th>
      <th>Waste</th>
      <th>Audit</th>
      <th>Note</th>
      <th>Weight</th>
      <th>Material type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.Customer %></td>
        <td><%= user.user_id %></td>
        <td><%= user.company_name %></td>
        <td><%= user.Request %></td>
        <td><%= user.customer_id %></td>
        <td><%= user.contact_firstname %></td>
        <td><%= user.contact_lastname %></td>
        <td><%= user.title %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.street_address %></td>
        <td><%= user.city %></td>
        <td><%= user.state %></td>
        <td><%= user.date %></td>
        <td><%= user.Note %></td>
        <td><%= user.request_id %></td>
        <td><%= user.photo %></td>
        <td><%= user.description %></td>
        <td><%= user.Walkthrough %></td>
        <td><%= user.request_id %></td>
        <td><%= user.square_footage %></td>
        <td><%= user.num_floors %></td>
        <td><%= user.max_occupancy %></td>
        <td><%= user.other_businesses %></td>
        <td><%= user.other_businesses_type %></td>
        <td><%= user.ownership %></td>
        <td><%= user.waste_disposal_contract %></td>
        <td><%= user.waste_management_cost %></td>
        <td><%= user.loading_dock %></td>
        <td><%= user.freight_elevators %></td>
        <td><%= user.storage_space %></td>
        <td><%= user.storage_space_details %></td>
        <td><%= user.trash_hauler %></td>
        <td><%= user.trash_hauler_contract %></td>
        <td><%= user.contract_available %></td>
        <td><%= user.annual_record %></td>
        <td><%= user.waste_storage %></td>
        <td><%= user.waste_containers %></td>
        <td><%= user.buy_recycled %></td>
        <td><%= user.buy_recycled_details %></td>
        <td><%= user.green_cleaning_products %></td>
        <td><%= user.green_cleaning_details %></td>
        <td><%= user.mandated_recycling %></td>
        <td><%= user.recycling_program %></td>
        <td><%= user.recycling_details %></td>
        <td><%= user.recycling_stream %></td>
        <td><%= user.recycling_stream_details %></td>
        <td><%= user.discontinued_recycling %></td>
        <td><%= user.current_compost %></td>
        <td><%= user.past_compost %></td>
        <td><%= user.generate_toner_ink %></td>
        <td><%= user.recycle_toner_ink %></td>
        <td><%= user.generate_CFLs %></td>
        <td><%= user.recycle_CFLs %></td>
        <td><%= user.generate_batteries %></td>
        <td><%= user.recycle_batteries %></td>
        <td><%= user.generate_computers %></td>
        <td><%= user.recycle_computers %></td>
        <td><%= user.generate_cellphones %></td>
        <td><%= user.recycle_cellphones %></td>
        <td><%= user.generate_tvs %></td>
        <td><%= user.recycle_tvs %></td>
        <td><%= user.generate_other_corded_equipment %></td>
        <td><%= user.recycle_cellphones %></td>
        <td><%= user.generate_furniture %></td>
        <td><%= user.recycle_furniture %></td>
        <td><%= user.generate_linens_uniforms %></td>
        <td><%= user.recycle_linens_uniforms %></td>
        <td><%= user.generate_construction_debris %></td>
        <td><%= user.recycle_construction_debris %></td>
        <td><%= user.generate_pallets %></td>
        <td><%= user.recycle_pallets %></td>
        <td><%= user.ZW_policy %></td>
        <td><%= user.LEED %></td>
        <td><%= user.recertify_LEED %></td>
        <td><%= user.requesting_audit_services %></td>
        <td><%= user.Audit %></td>
        <td><%= user.request_id %></td>
        <td><%= user.date %></td>
        <td><%= user.origin %></td>
        <td><%= user.time_period %></td>
        <td><%= user.dumpster_type %></td>
        <td><%= user.Waste %></td>
        <td><%= user.audit_id %></td>
        <td><%= user.note %></td>
        <td><%= user.weight %></td>
        <td><%= user.material_type %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
