<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @user.Customer %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @user.company_name %>
</p>

<p>
  <strong>Request:</strong>
  <%= @user.Request %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @user.customer_id %>
</p>

<p>
  <strong>Contact firstname:</strong>
  <%= @user.contact_firstname %>
</p>

<p>
  <strong>Contact lastname:</strong>
  <%= @user.contact_lastname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @user.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.Note %>
</p>

<p>
  <strong>Request:</strong>
  <%= @user.request_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Walkthrough:</strong>
  <%= @user.Walkthrough %>
</p>

<p>
  <strong>Request:</strong>
  <%= @user.request_id %>
</p>

<p>
  <strong>Square footage:</strong>
  <%= @user.square_footage %>
</p>

<p>
  <strong>Num floors:</strong>
  <%= @user.num_floors %>
</p>

<p>
  <strong>Max occupancy:</strong>
  <%= @user.max_occupancy %>
</p>

<p>
  <strong>Other businesses:</strong>
  <%= @user.other_businesses %>
</p>

<p>
  <strong>Other businesses type:</strong>
  <%= @user.other_businesses_type %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @user.ownership %>
</p>

<p>
  <strong>Waste disposal contract:</strong>
  <%= @user.waste_disposal_contract %>
</p>

<p>
  <strong>Waste management cost:</strong>
  <%= @user.waste_management_cost %>
</p>

<p>
  <strong>Loading dock:</strong>
  <%= @user.loading_dock %>
</p>

<p>
  <strong>Freight elevators:</strong>
  <%= @user.freight_elevators %>
</p>

<p>
  <strong>Storage space:</strong>
  <%= @user.storage_space %>
</p>

<p>
  <strong>Storage space details:</strong>
  <%= @user.storage_space_details %>
</p>

<p>
  <strong>Trash hauler:</strong>
  <%= @user.trash_hauler %>
</p>

<p>
  <strong>Trash hauler contract:</strong>
  <%= @user.trash_hauler_contract %>
</p>

<p>
  <strong>Contract available:</strong>
  <%= @user.contract_available %>
</p>

<p>
  <strong>Annual record:</strong>
  <%= @user.annual_record %>
</p>

<p>
  <strong>Waste storage:</strong>
  <%= @user.waste_storage %>
</p>

<p>
  <strong>Waste containers:</strong>
  <%= @user.waste_containers %>
</p>

<p>
  <strong>Buy recycled:</strong>
  <%= @user.buy_recycled %>
</p>

<p>
  <strong>Buy recycled details:</strong>
  <%= @user.buy_recycled_details %>
</p>

<p>
  <strong>Green cleaning products:</strong>
  <%= @user.green_cleaning_products %>
</p>

<p>
  <strong>Green cleaning details:</strong>
  <%= @user.green_cleaning_details %>
</p>

<p>
  <strong>Mandated recycling:</strong>
  <%= @user.mandated_recycling %>
</p>

<p>
  <strong>Recycling program:</strong>
  <%= @user.recycling_program %>
</p>

<p>
  <strong>Recycling details:</strong>
  <%= @user.recycling_details %>
</p>

<p>
  <strong>Recycling stream:</strong>
  <%= @user.recycling_stream %>
</p>

<p>
  <strong>Recycling stream details:</strong>
  <%= @user.recycling_stream_details %>
</p>

<p>
  <strong>Discontinued recycling:</strong>
  <%= @user.discontinued_recycling %>
</p>

<p>
  <strong>Current compost:</strong>
  <%= @user.current_compost %>
</p>

<p>
  <strong>Past compost:</strong>
  <%= @user.past_compost %>
</p>

<p>
  <strong>Generate toner ink:</strong>
  <%= @user.generate_toner_ink %>
</p>

<p>
  <strong>Recycle toner ink:</strong>
  <%= @user.recycle_toner_ink %>
</p>

<p>
  <strong>Generate cfls:</strong>
  <%= @user.generate_CFLs %>
</p>

<p>
  <strong>Recycle cfls:</strong>
  <%= @user.recycle_CFLs %>
</p>

<p>
  <strong>Generate batteries:</strong>
  <%= @user.generate_batteries %>
</p>

<p>
  <strong>Recycle batteries:</strong>
  <%= @user.recycle_batteries %>
</p>

<p>
  <strong>Generate computers:</strong>
  <%= @user.generate_computers %>
</p>

<p>
  <strong>Recycle computers:</strong>
  <%= @user.recycle_computers %>
</p>

<p>
  <strong>Generate cellphones:</strong>
  <%= @user.generate_cellphones %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @user.recycle_cellphones %>
</p>

<p>
  <strong>Generate tvs:</strong>
  <%= @user.generate_tvs %>
</p>

<p>
  <strong>Recycle tvs:</strong>
  <%= @user.recycle_tvs %>
</p>

<p>
  <strong>Generate other corded equipment:</strong>
  <%= @user.generate_other_corded_equipment %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @user.recycle_cellphones %>
</p>

<p>
  <strong>Generate furniture:</strong>
  <%= @user.generate_furniture %>
</p>

<p>
  <strong>Recycle furniture:</strong>
  <%= @user.recycle_furniture %>
</p>

<p>
  <strong>Generate linens uniforms:</strong>
  <%= @user.generate_linens_uniforms %>
</p>

<p>
  <strong>Recycle linens uniforms:</strong>
  <%= @user.recycle_linens_uniforms %>
</p>

<p>
  <strong>Generate construction debris:</strong>
  <%= @user.generate_construction_debris %>
</p>

<p>
  <strong>Recycle construction debris:</strong>
  <%= @user.recycle_construction_debris %>
</p>

<p>
  <strong>Generate pallets:</strong>
  <%= @user.generate_pallets %>
</p>

<p>
  <strong>Recycle pallets:</strong>
  <%= @user.recycle_pallets %>
</p>

<p>
  <strong>Zw policy:</strong>
  <%= @user.ZW_policy %>
</p>

<p>
  <strong>Leed:</strong>
  <%= @user.LEED %>
</p>

<p>
  <strong>Recertify leed:</strong>
  <%= @user.recertify_LEED %>
</p>

<p>
  <strong>Requesting audit services:</strong>
  <%= @user.requesting_audit_services %>
</p>

<p>
  <strong>Audit:</strong>
  <%= @user.Audit %>
</p>

<p>
  <strong>Request:</strong>
  <%= @user.request_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.date %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @user.origin %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @user.time_period %>
</p>

<p>
  <strong>Dumpster type:</strong>
  <%= @user.dumpster_type %>
</p>

<p>
  <strong>Waste:</strong>
  <%= @user.Waste %>
</p>

<p>
  <strong>Audit:</strong>
  <%= @user.audit_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Material type:</strong>
  <%= @user.material_type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
