<%= simple_nested_form_for(@audit, html: { class: 'form-horizontal', class: 'formtext' }) do |audit_form| %>

  <% if @audit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audit.errors.count, "error") %> prohibited this audit from being saved:</h2>

      <ul>
      <% @audit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="span7">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Audit</legend>
         
           <%#= audit_form.label :request_id %><br>
           <%= audit_form.hidden_field :request_id %>
           <%= audit_form.label :date %><br>
           <%= audit_form.date_select :date %>
           <%= audit_form.input :generator, :collection => ['Trash', 'Recycle', 'Compost'], :as => :collection_select, label: 'Generator' %>
           <%= audit_form.label :time_period %><br>
           <%= audit_form.text_field :time_period %>
           <%= audit_form.label :location %><br>       
           <%= audit_form.text_field :location %>

        </fieldset>
      </div>

    <!-- <div class="span5">
      <legend>Items</legend>
        <div id="wastes">
        <%= simple_nested_form_for @audit do |f| %>
          <%= f.fields_for :wastes do |waste_form| %>
            Material Type:<%= waste_form.select :material_type, ["abc", "hi hi"] %>
            Weight: <%= waste_form.text_field :weight %>
            Origin:<%= waste_form.text_field :origin %>
          <% end %>
          <p><%= f.link_to_add "Add a item", :wastes %></p>          <% end %> 
          <p>
            <br /><%#= audit_form.link_to_add("Add Item", :wastes, :class => 'button tiny') %>
          </p>
        </div> 
      </div> -->



  <div class="actions">
    <%= audit_form.submit %>
  </div>
<% end %>
