<h1>Listing audits</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th>Date</th>
      <th>Origin</th>
      <th>Time period</th>
      <th>Dumpster type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.request_id %></td>
        <td><%= audit.date %></td>
        <td><%= audit.origin %></td>
        <td><%= audit.time_period %></td>
        <td><%= audit.dumpster_type %></td>
        <td><%= link_to 'Show', audit %></td>
        <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
        <td><%= link_to 'Destroy', audit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audit', new_audit_path %>
