<%= simple_form_for(@walkthrough, html: { class: 'form-horizontal form-sub'}) do |f| %>

  <% if not flash[:notice].nil? %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:notice].count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% flash[:notice].full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="small-12 medium-6 columns">
      <h1>Initial Questionnaire</h1>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="actions">
        <%= link_to 'Back to Request', request_path(@walkthrough.request_id), class: 'button' %>
        <%= f.submit "Save", class: 'button' %>
        
      </div>
    </div>

  <div class="form-back">
  <div class="field">
      <%= f.hidden_field :request_id %><br>
    </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="field row">
        <div class="small-4 columns">
          <label for="right-label" class="left inline">* Date</label>
        </div>
        <div class="small-8 columns">
          <%= f.input :date, as: :string, input_html: { class: 'datepicker', placeholder: "Enter date", readonly:"readonly"}, label: false %>
        </div>
      
      </div>
    </div>
  </div>

    <%= render 'size_and_lease', f: f %>


 <!--   *****
    DOES YOUR BUILDING HAVE A...
    ***** -->

    <%= render 'does_your_building_have', f: f %>

    <!-- ********* -->

    <%= render 'hauler_and_solid_waste', f: f %>

    <%= render 'policy_and_program', f: f %>

    <!-- ****
    E-WASTES
    **** -->

    <%= render 'ewaste', f: f %>

    <!-- ****
    Other Materials
    **** -->

    <%= render 'other_waste', f: f %>
    
    <!-- **** -->

    <%= render 'zero_policy_leed', f: f %>

   <!-- Only show on large screens -->
   <div class="small-12 medium-6 columns show-for-large">
      <div class="actions">
        <%= link_to 'Back to Request', request_path(@walkthrough.request_id), class: 'button' %>
        <%= link_to 'Add Note', new_note_path(:request_id => @walkthrough.request_id), class: 'button' %>
        <%= f.submit "Save", class: 'button' %>

        
      </div>
    </div>

  <!-- Only show on medium and down screens -->
  <%= render 'bottom_bar', f: f %>
  </div>

  <%#= f.submit "Save", class: 'button' %>
  <%#= link_to 'Delete', @walkthrough, method: :delete, data: { confirm: 'Are you sure?' } %>


  <div class="sticky-footer">
    <%#= render 'bottom_bar' %>
      <div class="fixed-bottom  show-for-medium-down">
      <nav class="top-bar bottom-bar" >
        <section class="top-bar-section">

          <%= link_to new_note_path(:request_id => @walkthrough.request_id), data: { confirm: 'Are you want to navigate away from this page? Unsaved Questionnaire information will be lost!' } do %>
           <!-- (@walkthrough.request_id) -->
            <!-- <div class="small-12 medium-6 columns show-for-large">
              Add Notes
            </div> -->
                    <% end %>

<!--           <div class="bottom-button save-button"  >
            Save
          </div> -->


          <!-- <ul class="left">
          <li><%#=link_to 'Add Note', new_note_path, class: "button bottom_button"%></li>
          <li><%#=link_to 'Save', new_note_path, class: "button bottom_button"%></li>
      </ul> -->
      </section>
      
      </nav>
    </div>
  </div> 
<% end %>
