<% if can? :manage, :all %>
<h5>
  <%= link_to "Requests", requests_path %> /
  <%= link_to @walkthrough.request.customer.company_name+" - "+@walkthrough.request.date.strftime('%B %e, %Y'), @walkthrough.request %>
  <%= link_to "Initial Questionnaire", @walkthrough %>
</h5>

<div class="small-12 columns">

  <p id="notice"><%= notice %></p>

  <%= render 'show_form' %>
  

</div>

<% end %>