<div class="contain-to-grid sticky">
    <nav class="top-bar" data-options="scrolltop:false" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to 'Zero Waste Pennsylvania', root_url %>
          </h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><%= link_to 'Clients', customers_path %></li>
          <li><%= link_to 'Requests', requests_path %></li>
          <li><%= link_to 'Audits', audits_path %></li>
          <li><a href="/help.html">Help</a></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-form">
            <%= link_to 'New Request', new_request_path, :class => "button" %>
            
          </li>
        </ul>
      </section>
    </nav>


  </div> 