<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @customer.user_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<%= link_to 'Add Request', new_request_path(:customer_id => @customer.id) %><br><br>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
