<table width="100%">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Latest Request</th>
      <th>Point of Contact</th>
      <th></th>
     
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.company_name, customer %></td>
        <td><%= link_to customer.requests.chronological.last.date.strftime('%b %e, %Y'), customer.requests.chronological.last%></td>
        <td><%= link_to customer.requests.chronological.last.contact_firstname + ' ' + customer.requests.chronological.last.contact_lastname, customer.requests.chronological.last %></td>
        <!-- Make this an icon later -->
        <td><%= link_to '>', customer%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<span class="paginate">
<%= will_paginate @customers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>