<%= simple_nested_form_for(@customer, html: { class: 'form-horizontal', class: 'formtext' }) do |customer_form| %>


 <% if not flash[:notice].nil? and not flash[:notice].include? "Logged in!" %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:notice].count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% flash[:notice].full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="span7">
        <fieldset>
          <legend>Client</legend>

          <label>* Company Name</label>

    <%= customer_form.text_field :company_name %>
  </div>

    <div class="span7">
      <fieldset>
      <legend>Add Request</legend>
        <div id="requests">
        <%= simple_nested_form_for @customer do |f| %>
           <%= f.fields_for :requests do |request_form| %>
                <%= request_form.hidden_field :customer_id, input_html: {value: @cus_id}%>
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">* Date</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.input :date, as: :string, input_html: { class: 'datepicker', placeholder: "Enter Date", readonly:"readonly"}, label: false %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Contact First Name</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :contact_firstname %>
                      </div>
                    </div>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Contact Last Name</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :contact_lastname %>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Contact Title</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :title %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Email</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :email %>
                      </div>
                    </div>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Phone</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :phone, placeholder: "e.g. 111-222-3333" %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Street Address</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :street_address %>
                      </div>
                    </div>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">City</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :city %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field row">
                      <div class="small-3 columns">
                        <label for="right-label" class="left inline">Zip Code</label>
                      </div>
                      <div class="small-9 columns">
                        <%= request_form.text_field :zip_code %>
                      </div>
                    </div>
                  </div>
                </div>
                

            <% end %>
          <% end %> 
        </div> 
        </fieldset>
      </div>

  <div class="actions">
    <%= link_to 'Back to Clients', customers_path, class: "button small" %>
    <%= customer_form.submit "Save", class: 'button success small' %>
  </div>
  </div>
<% end %>
