<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- took away user_id input and set it to always be user_id=1 in the controller -->

    <div class="span5">
      <legend>Request</legend>
        <div id="requests">
        <%= simple_nested_form_for @customer do |f| %>
           <%= f.fields_for :requests do |request_form| %>
              <%= request_form.text_field :contact_firstname %>
          <% end %>
          <% end %> 
          <p>
            <br />
          </p>
        </div> 
      </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="actions">
    <%= f.submit "Add Client", class: 'button small' %>
  </div>
<% end %>
