<h5>
	<%= link_to "Home", root_url %> / 
	<%= link_to "Clients", customers_path %> /
	<%= link_to @customer.company_name, @customer %>
</h5>

<h1><%= "Editing Client, " + @customer.company_name%></h1>

<%= render 'form' %>

