<div class="row">
  <div class="small-12 columns">


		<h5>
			<div class="button-head">
				<%= link_to "Clients", customers_path %> /
				<%= link_to @customer.company_name, @customer %>
			</div>
			<% if can? :manage, :all %>
				<div class="add_button"><%= link_to 'Update Client', edit_customer_path(@customer), class: 'button tiny left ' %>
				</div>
			<% end %>
		</h5>
	</div>
</div>

<div class="row">

		<div class="small-12 columns">
			<p id="notice"><%= notice %></p>
		</div>


		<!-- TITLE AND EDIT BUTTON -->

			<div class="small-12 columns">
				<h2 class="button-head">Client Requests</h2>
				<div class="add_button"><%= link_to '+ Add Request', new_request_path(:customer_id => @customer.id), class: "button tiny round left" %></div>
			</div>



			<div class="small-12 columns">
		    	<%= render 'customer_requests' %>
			</div>


		<div class="small-12 columns">
			<%= link_to 'Back', customers_path, class: "button" %>
			
		</div>

</div>
