<%= simple_form_for(@request, html: { class: 'form-horizontal form-sub'}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="small-12 medium-6 columns">
    <h1>New Request</h1>
  </div>

  <div class="small-12 medium-6 columns">
    <div class="actions">
      <%= f.submit "Save Request", class: 'button' %>
    </div>
  </div>

  <div class="form-back">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="field row">
          <div class="small-2 columns">
            <label for="right-label" class="left inline">Client</label>
          </div>
          <div class="small-10 columns">
            <%= f.collection_select :customer_id, Customer.alphabetical.all, :id, :company_name, prompt: "Select client..." %>
          </div>

<!--  -->
<% end %>