<div class="panel">
	<p>
		<h4 class="button-head">Request Details</h4>
		<div><%= link_to 'Update', edit_request_path(@request), class: 'button tiny left ' %></div></br>
	</p>
</br>
	<p>
    <strong>Client:</strong>
    <% if @request.customer.company_name.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.customer.company_name %>
    <% end %>    
  </p>

  <p>
    <strong>Contact Name:</strong>
    <% if (@request.contact_firstname.empty?) && (@request.contact_lastname.empty?) %>
      <%= "n/a" %>
    <% else %>
      <% if @request.title.empty? %>
        <%= @request.name %>
      <% else %>
        <%= @request.name + " (" + @request.title + ")" %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Email:</strong>
    <% if @request.email.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.email %>
    <% end %>
  </p>

  <p>
    <strong>Phone:</strong>
    <% if @request.phone.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.phone %>
    <% end %>  </p>

  <p>
    <strong>Street Address:</strong>
    <% if @request.street_address.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.street_address %>
    <% end %>  </p>

  <p>
    <strong>City:</strong>
    <% if @request.city.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.city %>
    <% end %>  </p>

  <p>
    <strong>Zip Code:</strong>
    <% if @request.zip_code.empty? %>
      <%= "n/a" %>
    <% else %>
      <%= @request.zip_code %>
    <% end %>  </p>


  <p>
    <strong>Date:</strong>
    <%= @request.date.strftime('%b %e, %Y') %>
  </p>


</div>