<h5>
  <%= link_to "Home", root_url %> / 
  <%= link_to "Requests", requests_path %> /
  <%= link_to @request.customer.company_name+" - "+@request.date.strftime('%B %e, %Y'), @request.customer %>
</h5>

<%= render 'form' %>
<%= link_to 'Cancel', request_path(@request), class: 'button' %>

