<div class="small-12 large-8 columns">
  <p id="notice"><%= notice %></p>

  <h4>
    <%= link_to @request.customer.company_name, @request.customer %> > 
    <%= @request.date.strftime('%B %e, %Y') %>
  </h4>

  <h1 class="button-head">Documents</h1>
  <div class="add_button show-for-medium-up">
     <ul class="button-group radius ">
      <li><%=link_to "+ Add Questionnaire",new_walkthrough_path(:request_id => @request.id), class: "button tiny "%></li>
      <li><%=link_to "+ Add Audit", new_audit_path(:request_id => @request.id), class: "button tiny" %></li>
    </ul>
  </div>

  <div class="add_button show-for-small-only">
   <ul class="button-group radius ">
    <li><%=link_to "+ Add Questionnaire",new_walkthrough_path(:request_id => @request.id), class: "button tiny "%></li>
    <li><%=link_to "+ Add Audit", new_audit_path(:request_id => @request.id), class: "button tiny" %></li>
  </ul>
</div>


<%= render 'docs_by_request' %>

</br>

<h1 class="button-head">Notes</h1>
  <div class="add_button show-for-medium-up">
     <ul class="button-group radius ">
      <li><%=link_to "+ New Note",new_note_path(:request_id => @request.id), class: "button tiny "%></li>
      
    </ul>
  </div>

  <div class="add_button show-for-small-only">
    <%=link_to "+ New Note",new_note_path(:request_id => @request.id), class: "button tiny "%>
  
</div>

<%= render 'notes_by_request' %>

</br>


<div class="show-for-medium-down">
  <%= render 'request_details'%>
</div>






</div>

<div class="medium-4 columns show-for-large-only ">
    <%= render 'request_details' %>
</div>




<div class="row">
  <div class="small-12 medium-12 large-7 columns">
    <%= link_to 'Back to All Requests', requests_path, :class => "button" %>
  </div>
</div>