<%= form_for(@waste) do |f| %>
  <% if @waste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waste.errors.count, "error") %> prohibited this waste from being saved:</h2>

      <ul>
      <% @waste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :audit_id %>
  </div>
  <div class="field">
    <%= f.label :material_type %><br>
    <%= f.text_field :material_type %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
