<%= simple_nested_form_for(@audit, html: { class: 'form-horizontal', class: 'formtext' }) do |audit_form| %>

  <% if not flash[:notice].nil? %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:notice].count, "error") %> prohibited this audit from being saved:</h2>

      <ul>
      <% flash[:notice].full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="small-12 medium-6 columns">
    <h1>Audit Form</h1>
  </div>

  <div class="small-12 medium-6 columns">
      <div class="actions">
        <br><br><br>
      </div>
    </div>

  <div class="form-back">

    <div class="row">
      <div class="span 7">
        <fieldset>
          <legend>Audit Details</legend>
          
          <div class="reqid" style="display: none;">
           <%= audit_form.input :request_id, input_html: {value: @req_id} %>  
          </div>    

          <div class="row">
            <div class="small-12 columns">
              <label>* Generator</label>
            </div>
          </div>

            <div class="field row">
              <div class="small-12 medium-4 columns">
                <%= audit_form.input :generator, :collection => ['Landfill'], :as => :radio_buttons, label: "", required: false %>
              </div>

              <div class="small-12 medium-4 columns">
                <%= audit_form.input :generator, :collection => ['Recycle'], :as => :radio_buttons, label: "", required: false %>
              </div>

              <div class="small-12 medium-4 columns">
                <%= audit_form.input :generator, :collection => ['Compost'], :as => :radio_buttons, label: "", required: false %>
              </div>
            </div>  
          

          <div class="row">
            <div class="small-12 columns">
              <label>Time Period</label>
            </div>
          </div>
            <div class="field row">
              <div class="small-12 medium-6 columns">
                <%= audit_form.input :start_date, as: :string, input_html: { class: 'datepicker', placeholder: "Select Start Date", readonly:"readonly"}, label: 'Start' %>
              </div>
              <div class="small-12 medium-6 columns">
                <%= audit_form.input :end_date, as: :string, input_html: { class: 'datepicker', placeholder: "Select End Date", readonly:"readonly"}, label: 'End' %>
              </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <label>* Location</label>
            </div>
            <div class="field row">
              <div class="small-12 medium-6 columns">
                <%= audit_form.text_field :location, placeholder: "Enter location..." %>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      

    <div class="row">
      <div class="span 5">
      <fieldset>
      <legend>Waste Items</legend>
        <div id="wastes">
          <%= simple_nested_form_for @audit do |f| %>
            <%= f.fields_for :wastes do |waste_form| %>
              <%= waste_form.hidden_field :audit_id, input_html: {value: @aud_id}%>
              <div class="row">
                <div class="small-12 medium-5 columns">
                  <%= waste_form.select :material_type, ["Batteries", "Cardboard", "Compostable Food Service Ware", "Dairy and Juice Containers", "Electronic Waste", "Fluorescent Tubes", "Food Scraps", "K-Cups", "Metal Cans, Glass Bottles, and Jars", "Miscellaneous", "Mixed Paper, Newspaper & Magazines", "Mylar Film", "Paper Towels", "Plastic (1-5 & 7) and Containers", "Plastic Film", "Restroom Waste", "Reuse (Clothes, books, pens, etc.)", "Toner Cartridges", "White Ledger Paper"], prompt: "Material type (required)..." %>
                </div>
                <div class="small-4 medium-2 columns">
                  <%= waste_form.text_field :weight, placeholder: "Weight (lbs)..." %>
                </div>
                <div class="small-8 medium-5 columns">
                  <%= waste_form.text_field :origin, placeholder: "Enter origin..." %>
                </div>
              </div>
            <% end %>
            <p><%= f.link_to_add "+ Add an item", :wastes, class: 'button round tiny left' %></p>         
          <% end %> 
        </div> 

        </fieldset>
      </div>

      <div class="sticky-footer">
      <%#= render 'bottom_bar' %>
        <div class="fixed-bottom  show-for-medium-down">
          <nav class="top-bar bottom-bar" >
            <section class="top-bar-section">
              
          

            </section>
          </nav>
        </div>
      </div>
    </div>
  </div>


  <div>
      <div class="actions">
       

        <% if defined?(edit) && edit %>
          <%= link_to 'Cancel', audit_path(@audit), class: 'button tiny alert' %>
        <% elsif defined?(newaudit) && newaudit %>
          <%= link_to 'Back', requests_path, :class => 'button tiny' %> 
        <%end%>
        <%= link_to 'Add Note' ,new_note_path(request_id: @req_id), data: { confirm: 'Are you want to navigate away from this page? Unsaved audit information will be lost!' }, class: 'button tiny' %>
        <%= audit_form.submit "Save", class: 'button tiny right success' %>

      </div>
  </div>

<% end %>
</div>

