<h1>Listing audits</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th>Date</th>
      <th>Time period</th>
      <th>Generator</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.request_id %></td>
        <td><%= audit.date %></td>
        <td><%= audit.time_period %></td>
        <td><%= audit.generator %></td>
        <td><%= link_to 'Show', audit %></td>
        <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audit', new_audit_path %>
