<h1>Listing audits</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Generator</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.request.customer.company_name %></td>
        <td><%= audit.start_date %></td>
        <td><%= audit.end_date %></td>
        <td><%= audit.generator %></td>
        <td><%= link_to 'Show', audit %></td>
        <td><%= link_to 'Edit', edit_audit_path(audit) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


