<p id="notice"><%= notice %></p>
<div class="small-12 large-8 columns">
  <h4>
    <%= link_to @request.customer.company_name, @request.customer %> > 
    <%= @request.date.strftime('%B %e, %Y') %>
  </h4>

  <h1 class="button-head">Documents</h1>
  <div class="add_button show-for-medium-up">
     <ul class="button-group radius ">
      <li><%=link_to "+ Add Questionnaire",new_walkthrough_path(:request_id => @request.id), class: "button tiny "%></li>
      <li><%=link_to "+ Add Audit", new_audit_path(:request_id => @request.id), class: "button tiny" %></li>
    </ul>
  </div>

  <div class="add_button show-for-small-only">
   <ul class="button-group radius ">
    <li><%=link_to "+ Add Questionnaire",new_walkthrough_path(:request_id => @request.id), class: "button tiny "%></li>
    <li><%=link_to "+ Add Audit", new_audit_path(:request_id => @request.id), class: "button tiny" %></li>
  </ul>
</div>


<%= render 'docs_by_request' %>

</br>

<h1 class="button-head">Notes</h1>
  <div class="add_button show-for-medium-up">
     <ul class="button-group radius ">
      <li><%=link_to "+ New Note",new_note_path(:request_id => @request.id), class: "button tiny "%></li>
      
    </ul>
  </div>

  <div class="add_button show-for-small-only">
    <%=link_to "+ New Note",new_note_path(:request_id => @request.id), class: "button tiny "%>
  
</div>

<%= render 'notes_by_request' %>

</br>


<div class="show-for-medium-down">
  <%= render 'request_details'%>
</div>






</div>

<div class="medium-4 columns show-for-large-only ">
    <%= render 'request_details' %>
</div>



<!-- Display table of all documents for the request.
Includes Questionnaire and audits -->


<!-- <div class="small-12 medium-12 large-7 columns">
  <fieldset>
    <legend><h3>Documents</h3></legend>
      <ol>
        <li>
          Questionnaire - 
          <% @walkthroughs = Walkthrough.where(request_id: @request.id) %>
          <% @walkthroughs.each do |walkthrough| %>
          <%= link_to walkthrough.created_at.strftime('%b %e, %Y'), walkthrough %>
          <% end %>
        </li>
        <%= link_to 'Add Questionnaire', new_walkthrough_path(:request_id => @request.id) %><br><br>
    <!--     *********TEST AFTER AUDIT/WASTE MODELS/CONTROLLERS WORK******** -->
        <%#= @audits = Audit.where(request_id: @request_id) %>
        <%# @audits.each do |audit| %>
        
          <%#= audit.generator %>
          <%#= link_to audit.created_at.strftime('%b %e, %Y'), audit %>
        
        <%# end %>
        <%#= link_to 'Add Audit', new_audit_path(:request_id => @request.id) %>
<!--       </ol>
    </div>
  </fieldset> --> 



<!-- <div class="small-12 medium-12 large-7 columns">
  <fieldset>
  <legend><h3>Request Details</h3></legend>
  <p>
    <strong>Customer:</strong>
    <%= @request.customer.company_name %>
  </p>

  <p>
    <strong>Contact First Name:</strong>
    <%= @request.contact_firstname %>
  </p>

  <p>
    <strong>Contact Last Name:</strong>
    <%= @request.contact_lastname %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @request.title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @request.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @request.phone %>
  </p>

  <p>
    <strong>Street Address:</strong>
    <%= @request.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @request.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @request.state %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @request.date %>
  </p>
  </fieldset>
</div> -->



<div class="row">
  <div class="small-12 medium-12 large-7 columns">
    <%= link_to 'Edit Request', edit_request_path(@request), :class => "button " %>
    <%= link_to 'Back to All Requests', requests_path, :class => "button" %>
  </div>
</div>