<p id="notice"><%= notice %></p>
<h1>
  <%= link_to @request.customer.company_name, @request.customer %> > 
  <%= @request.date.strftime('%B %e, %Y') %>
</h1>

<div class="small-12 medium-12 large-7 columns">
  <h3>Documents</h3>
  <ol>
    <li>
      Questionnaire - 
      <% @walkthroughs = Walkthrough.where(request_id: @request.id) %>
      <% @walkthroughs.each do |walkthrough| %>
      <%= link_to walkthrough.created_at.strftime('%b %e, %Y'), walkthrough %>
      <% end %>
    </li>
<!--     *********TEST AFTER AUDIT/WASTE MODELS/CONTROLLERS WORK******** -->
    <%#= @audits = Audit.where(request_id: @request_id) %>
    <%# @audits.each do |audit| %>
<!--     <li>
      <%#= audit.generator %> Audit - 
      <%#= link_to audit.created_at.strftime('%b %e, %Y'), audit %>
    </li> -->
  </ol>
</div>

<div class="show-for-large-up large-5 columns">
  <h3>Request Details</h3>
  <p>
    <strong>Customer:</strong>
    <%= @request.customer.company_name %>
  </p>

  <p>
    <strong>Contact First Name:</strong>
    <%= @request.contact_firstname %>
  </p>

  <p>
    <strong>Contact Last Name:</strong>
    <%= @request.contact_lastname %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @request.title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @request.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @request.phone %>
  </p>

  <p>
    <strong>Street Address:</strong>
    <%= @request.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @request.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @request.state %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @request.date %>
  </p>
</div>

<div class="notes">
    <p>
    <strong>Note:</strong>
    <%#= @request.Note %>
  </p>

  <p>
    <strong>Request:</strong>
    <%#= @request.request_id %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%#= @request.photo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%#= @request.description %>
  </p>
</div>
<%= link_to 'Add Walkthrough', new_walkthrough_path(:request_id => @request.id) %>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>