<%= simple_form_for(@walkthrough, html: { class: 'form-horizontal'}) do |f| %> 
  <fieldset>
      <legend><h4>Does your building have a...</h4></legend>
      <div class="field">
        <label>Loading dock?</label><br>
        <%#= f.number_field :loading_dock %>
        <%= f.input :loading_dock, :collection => [['Yes', 'Yes'], ['No', 'No'], ['DK', 'DK']], :label_method => :last, :value_method => :first, :as => :radio_buttons, label: '' %>
      </div>
      <div class="field">
        <label>Freight elevators?</label><br>
        <%#= f.number_field :freight_elevators %>
        <%= f.input :freight_elevators, :collection => [['Yes', 'Yes'], ['No', 'No'], ['DK', 'DK']], :label_method => :last, :value_method => :first, :as => :radio_buttons, label: '' %>
      </div>
      <div class="field">
        <label>Ample storage space?</label><br>
        <%#= f.number_field :storage_space %>
        <%= f.input :storage_space, :collection => [['Yes', 'Yes'], ['No', 'No'], ['DK', 'DK']], :label_method => :last, :value_method => :first, :as => :radio_buttons, label: '' %>
      </div>
      <div class="field">
        <label>Storage details</label><br>
        <%= f.text_area :storage_space_details %>
      </div>
  </fieldset>
 <% end %>