<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @walkthrough.request.customer.company_name %>
</p>

<p>
  <strong>Square footage:</strong>
  <%= @walkthrough.square_footage %>
</p>

<p>
  <strong>Num floors:</strong>
  <%= @walkthrough.num_floors %>
</p>

<p>
  <strong>Max occupancy:</strong>
  <%= @walkthrough.max_occupancy %>
</p>

<p>
  <strong>Other businesses:</strong>
  <%= @walkthrough.other_businesses %>
</p>

<p>
  <strong>Other businesses type:</strong>
  <%= @walkthrough.other_businesses_type %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @walkthrough.ownership %>
</p>

<p>
  <strong>Waste disposal contract:</strong>
  <%= @walkthrough.waste_disposal_contract %>
</p>

<p>
  <strong>Waste management cost:</strong>
  <%= @walkthrough.waste_management_cost %>
</p>

<p>
  <strong>Loading dock:</strong>
  <%= @walkthrough.loading_dock %>
</p>

<p>
  <strong>Freight elevators:</strong>
  <%= @walkthrough.freight_elevators %>
</p>

<p>
  <strong>Storage space:</strong>
  <%= @walkthrough.storage_space %>
</p>

<p>
  <strong>Storage space details:</strong>
  <%= @walkthrough.storage_space_details %>
</p>

<p>
  <strong>Trash hauler:</strong>
  <%= @walkthrough.trash_hauler %>
</p>

<p>
  <strong>Trash hauler contract:</strong>
  <%= @walkthrough.trash_hauler_contract %>
</p>

<p>
  <strong>Contract available:</strong>
  <%= @walkthrough.contract_available %>
</p>

<p>
  <strong>Annual record:</strong>
  <%= @walkthrough.annual_record %>
</p>

<p>
  <strong>Waste storage:</strong>
  <%= @walkthrough.waste_storage %>
</p>

<p>
  <strong>Waste containers:</strong>
  <%= @walkthrough.waste_containers %>
</p>

<p>
  <strong>Buy recycled:</strong>
  <%= @walkthrough.buy_recycled %>
</p>

<p>
  <strong>Buy recycled details:</strong>
  <%= @walkthrough.buy_recycled_details %>
</p>

<p>
  <strong>Green cleaning products:</strong>
  <%= @walkthrough.green_cleaning_products %>
</p>

<p>
  <strong>Green cleaning details:</strong>
  <%= @walkthrough.green_cleaning_details %>
</p>

<p>
  <strong>Mandated recycling:</strong>
  <%= @walkthrough.mandated_recycling %>
</p>

<p>
  <strong>Recycling program:</strong>
  <%= @walkthrough.recycling_program %>
</p>

<p>
  <strong>Recycling details:</strong>
  <%= @walkthrough.recycling_details %>
</p>

<p>
  <strong>Recycling stream:</strong>
  <%= @walkthrough.recycling_stream %>
</p>

<p>
  <strong>Recycling stream details:</strong>
  <%= @walkthrough.recycling_stream_details %>
</p>

<p>
  <strong>Discontinued recycling:</strong>
  <%= @walkthrough.discontinued_recycling %>
</p>

<p>
  <strong>Current compost:</strong>
  <%= @walkthrough.current_compost %>
</p>

<p>
  <strong>Past compost:</strong>
  <%= @walkthrough.past_compost %>
</p>

<p>
  <strong>Generate toner ink:</strong>
  <%= @walkthrough.generate_toner_ink %>
</p>

<p>
  <strong>Recycle toner ink:</strong>
  <%= @walkthrough.recycle_toner_ink %>
</p>

<p>
  <strong>Generate cfls:</strong>
  <%= @walkthrough.generate_CFLs %>
</p>

<p>
  <strong>Recycle cfls:</strong>
  <%= @walkthrough.recycle_CFLs %>
</p>

<p>
  <strong>Generate batteries:</strong>
  <%= @walkthrough.generate_batteries %>
</p>

<p>
  <strong>Recycle batteries:</strong>
  <%= @walkthrough.recycle_batteries %>
</p>

<p>
  <strong>Generate computers:</strong>
  <%= @walkthrough.generate_computers %>
</p>

<p>
  <strong>Recycle computers:</strong>
  <%= @walkthrough.recycle_computers %>
</p>

<p>
  <strong>Generate cellphones:</strong>
  <%= @walkthrough.generate_cellphones %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @walkthrough.recycle_cellphones %>
</p>

<p>
  <strong>Generate tvs:</strong>
  <%= @walkthrough.generate_tvs %>
</p>

<p>
  <strong>Recycle tvs:</strong>
  <%= @walkthrough.recycle_tvs %>
</p>

<p>
  <strong>Generate other corded equipment:</strong>
  <%= @walkthrough.generate_other_corded_equipment %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @walkthrough.recycle_cellphones %>
</p>

<p>
  <strong>Generate furniture:</strong>
  <%= @walkthrough.generate_furniture %>
</p>

<p>
  <strong>Recycle furniture:</strong>
  <%= @walkthrough.recycle_furniture %>
</p>

<p>
  <strong>Generate linens uniforms:</strong>
  <%= @walkthrough.generate_linens_uniforms %>
</p>

<p>
  <strong>Recycle linens uniforms:</strong>
  <%= @walkthrough.recycle_linens_uniforms %>
</p>

<p>
  <strong>Generate construction debris:</strong>
  <%= @walkthrough.generate_construction_debris %>
</p>

<p>
  <strong>Recycle construction debris:</strong>
  <%= @walkthrough.recycle_construction_debris %>
</p>

<p>
  <strong>Generate pallets:</strong>
  <%= @walkthrough.generate_pallets %>
</p>

<p>
  <strong>Recycle pallets:</strong>
  <%= @walkthrough.recycle_pallets %>
</p>

<p>
  <strong>Zw policy:</strong>
  <%= @walkthrough.ZW_policy %>
</p>

<p>
  <strong>Leed:</strong>
  <%= @walkthrough.LEED %>
</p>

<p>
  <strong>Recertify leed:</strong>
  <%= @walkthrough.recertify_LEED %>
</p>

<p>
  <strong>Requesting audit services:</strong>
  <%= @walkthrough.requesting_audit_services %>
</p>

<%= link_to 'Edit', edit_walkthrough_path(@walkthrough), class: 'button' %> |
<%= link_to 'Back to Request', request_path(@walkthrough.request), class: 'button' %> |
<%= link_to 'Back', walkthroughs_path, class: 'button' %>
