<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @walkthrough.request.customer.company_name %>
</p>

<p>
  <strong>Square footage:</strong>
  <%= @walkthrough.square_footage %>
</p>

<p>
  <strong>Num floors:</strong>
  <%= @walkthrough.num_floors %>
</p>

<p>
  <strong>Max occupancy:</strong>
  <%= @walkthrough.max_occupancy %>
</p>

<p>
  <strong>Are there other spaces/businesses (Leased or Owned/Operated) in the building?</strong>
  <%= @walkthrough.other_businesses %>
</p>

<p>
  <strong>If yes, what type of business/spaces? (i.e. coffee shop, bar, restaurant, gift shop, business center): </strong>
  <%= @walkthrough.other_businesses_type %>
</p>

<p>
  <strong>Is your building owned or leased?</strong>
  <%= @walkthrough.ownership %>
</p>

<p>
  <strong>If leased, does the leasing agent control the solid waste/recycling disposal contract?</strong>
  <%= @walkthrough.waste_disposal_contract %>
</p>

<p>
  <strong>If leased, are waste management costs included in the rent payment?</strong>
  <%= @walkthrough.waste_management_cost %>
</p>

<p>
  <strong>Does your building have a Loading dock:</strong>
  <%= @walkthrough.loading_dock %>
</p>

<p>
  <strong>Freight elevators?</strong>
  <%= @walkthrough.freight_elevators %>
</p>

<p>
  <strong>Ample storage space?</strong>
  <%= @walkthrough.storage_space %>
</p>

<p>
  <strong>Please explain.</strong>
  <%= @walkthrough.storage_space_details %>
</p>

<p>
  <strong>Current trash hauler:</strong>
  <%= @walkthrough.trash_hauler %>
</p>

<p>
  <strong>Do you have a contract with them?</strong>
  <%= @walkthrough.trash_hauler_contract %>
</p>

<p>
  <strong>If yes, is a copy available?</strong>
  <%= @walkthrough.contract_available %>
</p>

<p>
  <strong>Do you have at least one year’s records of solid waste and/or recycling volumes?</strong>
  <%= @walkthrough.annual_record %>
</p>

<p>
  <strong>Where is solid waste currently stored?</strong>
  <%= @walkthrough.waste_storage %>
</p>

<p>
  <strong>What solid waste containers do you use?</strong>
  <%= @walkthrough.waste_containers %>
</p>

<p>
  <strong>Does your company have a “Buy recycled” policy re recyclability or recycled content of products?</strong>
  <%= @walkthrough.buy_recycled %>
</p>

<p>
  <strong>If yes, please describe:</strong>
  <%= @walkthrough.buy_recycled_details %>
</p>

<p>
  <strong>Does your company have a policy of purchasing non-toxic/“Green” cleaning products?</strong>
  <%= @walkthrough.green_cleaning_products %>
</p>

<p>
  <strong>If yes, please describe:</strong>
  <%= @walkthrough.green_cleaning_details %>
</p>

<p>
  <strong>Is your building located in a recycling mandated community?</strong>
  <%= @walkthrough.mandated_recycling %>
</p>

<p>
  <strong>Does your building currently have a recycling program?</strong>
  <%= @walkthrough.recycling_program %>
</p>

<p>
  <strong>If yes, describe your current recycling system and material collected for recycling (e.g. “We collect office paper in 90 gallon toters”).</strong>
  <%= @walkthrough.recycling_details %>
</p>

<p>
  <strong>Does your building currently utilize a duel-stream or single-stream recycling program in your building?</strong>
  <%= @walkthrough.recycling_stream %>
</p>

<p>
  <strong>Details (For example: “We collect white office and mixed paper in separate 90 gallon toters”):</strong>
  <%= @walkthrough.recycling_stream_details %>
</p>

<p>
  <strong>If your company was recycling, and discontinued the effort, please explain why.</strong>
  <%= @walkthrough.discontinued_recycling %>
</p>

<p>
  <strong>Does your company currently compost organic materials such as food waste/yard waste?</strong>
  <%= @walkthrough.current_compost %>
</p>

<p>
  <strong>Has your organization composted organic material in the past?</strong>
  <%= @walkthrough.past_compost %>
</p>

<p>
  <strong>Generate toner ink:</strong>
  <%= @walkthrough.generate_toner_ink %>
</p>

<p>
  <strong>Recycle toner ink:</strong>
  <%= @walkthrough.recycle_toner_ink %>
</p>

<p>
  <strong>Generate cfls:</strong>
  <%= @walkthrough.generate_CFLs %>
</p>

<p>
  <strong>Recycle cfls:</strong>
  <%= @walkthrough.recycle_CFLs %>
</p>

<p>
  <strong>Generate batteries:</strong>
  <%= @walkthrough.generate_batteries %>
</p>

<p>
  <strong>Recycle batteries:</strong>
  <%= @walkthrough.recycle_batteries %>
</p>

<p>
  <strong>Generate computers:</strong>
  <%= @walkthrough.generate_computers %>
</p>

<p>
  <strong>Recycle computers:</strong>
  <%= @walkthrough.recycle_computers %>
</p>

<p>
  <strong>Generate cellphones:</strong>
  <%= @walkthrough.generate_cellphones %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @walkthrough.recycle_cellphones %>
</p>

<p>
  <strong>Generate tvs:</strong>
  <%= @walkthrough.generate_tvs %>
</p>

<p>
  <strong>Recycle tvs:</strong>
  <%= @walkthrough.recycle_tvs %>
</p>

<p>
  <strong>Generate other corded equipment:</strong>
  <%= @walkthrough.generate_other_corded_equipment %>
</p>

<p>
  <strong>Recycle cellphones:</strong>
  <%= @walkthrough.recycle_cellphones %>
</p>

<p>
  <strong>Generate furniture:</strong>
  <%= @walkthrough.generate_furniture %>
</p>

<p>
  <strong>Recycle furniture:</strong>
  <%= @walkthrough.recycle_furniture %>
</p>

<p>
  <strong>Generate linens uniforms:</strong>
  <%= @walkthrough.generate_linens_uniforms %>
</p>

<p>
  <strong>Recycle linens uniforms:</strong>
  <%= @walkthrough.recycle_linens_uniforms %>
</p>

<p>
  <strong>Generate construction debris:</strong>
  <%= @walkthrough.generate_construction_debris %>
</p>

<p>
  <strong>Recycle construction debris:</strong>
  <%= @walkthrough.recycle_construction_debris %>
</p>

<p>
  <strong>Generate pallets:</strong>
  <%= @walkthrough.generate_pallets %>
</p>

<p>
  <strong>Recycle pallets:</strong>
  <%= @walkthrough.recycle_pallets %>
</p>

<p>
  <strong>Does your company currently have a Zero Waste Policy in place? This would require 90% of overall diversion of landfill for non-hazardous wastes discarded materials are reused, reused, recycled, composted, or recovered for productive use in nature or the economy at biological temperatures.</strong>
  <%= @walkthrough.ZW_policy %>
</p>

<p>
  <strong>Is your building/organization LEED Certified?</strong>
  <%= @walkthrough.LEED %>
</p>

<p>
  <strong>If so, is your building/organization looking to recertify your LEED building?</strong>
  <%= @walkthrough.recertify_LEED %>
</p>

<p>
  <strong>Is your building requesting PRC for waste audit services?</strong>
  <%= @walkthrough.requesting_audit_services %>
</p>

<%= link_to 'Edit', edit_walkthrough_path(@walkthrough), class: 'button' %> |
<%= link_to 'Back to Request', request_path(@walkthrough.request), class: 'button' %> |
<%= link_to 'Back', walkthroughs_path, class: 'button' %>
