<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="http://prc.org/wp-content/themes/prc/images/favicon.png">
    <title><%= content_for?(:title) ? yield(:title) : "ZWPA Waste Audit" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render :partial => "partials/nav" %>
    <div class="row">
      <%= yield %>
    </div>

    <%#= breadcrumbs pretext: "You are here: ",
                separator: " &rsaquo; " %>
    
  </body>
</html>
